body {
  background-color: rgb(1, 1, 49);
}

h1 {
  color: rgb(73, 73, 199);
  font-size: 60px;
  margin-left: 600px;
  margin-top: 100px;
}

td {
  border: 1px solid black;
  color: #ffffff;
}

th {
  color: rgb(0, 124, 248);
}

td,
th {
  text-align: start;
  width: 100px;
  height: 40px;
  padding: 2px 10px;
  font-family: sans-serif;
}

table {
  margin: auto;
  margin-top: 100px;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: rgb(192, 190, 190);
}

tr:nth-child(odd) {
  background-color: rgb(37, 37, 105);
}

#tr1 {
  background-color: rgb(1, 1, 49);
}

th:hover {
  color: #ffffff;
}

td:hover {
  background-color: yellow;
  box-shadow: 0px 0px 50px 10px rgb(147, 147, 1);
  color: #000000;
}

td:nth-child(1) {
  color: red;
}
